* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Inter", sans-serif;

  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
  background: #c7c1c1;
}
/* navbar is styled here */
#navbar {
  height: 70px;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-right: 30px;
}
ul a {
  text-decoration: none;
  font-size: 20px;
  margin: 5px 20px;
  color: #ffffff;
  padding: 3px 5px;
}
ul li:nth-child(1) {
  background-color: rgb(179, 178, 178);
  border: 1px solid white;
}

ul li a:hover {
  text-decoration: underline;
}

p a {
  text-decoration: none;
  color: #ffffff;
  font-size: 25px;
}

p {
  margin: 10px 20px;
  padding: 5px 10px;
}
/* --------------------------------------------------------- */
/* main section styled here */

.main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-top: 50px;
}
/* left portion is styled here */
.left-content {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.left-content p {
  font-size: 20px;
  margin: 0px 0px;
  padding: 0px;
}
h1 {
  margin: 10px 0px;
}
h3 {
  margin: 4px 15px;
}
.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button {
  display: block;
  height: 28px;
  width: 110px;
  margin: 20px 0px;
  border: 1px solid #000000;
}

#signup {
  margin-left: 20px;
  background-color: #ffffff;
}
#signup a {
  color: #000000;
  font-size: 18px;
  text-decoration: none;
  padding: 4px 26px;
}
#signup :hover {
  background-color: #000000;
}
#signup a:hover {
  color: #ffffff;
}
#login {
  font-size: 18px;
  background-color: #000000;
}
#login a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  padding: 4px 26px;
}
#login a:hover {
  color: #000000;
}
#login:hover {
  background: #ffffff;
}
/* ------------------------------- */
/* right portion styled here */
.right-content {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#shirt {
  border: 1px dotted white;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 20px;
  background-color: rgb(179, 178, 178);
  border-radius: 20px;
  box-shadow: 4px 5px 4px black;
}
#logoimg {
  width: 40%;
  border: 1px dotted white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(179, 178, 178);
  border-radius: 30px;
  box-shadow: 4px 4px 4px black;
}
#logo_img {
  border: 1px solid rgb(198, 196, 196);
  width: 70%;
  height: 80%;
  animation: translate 1s linear;
  border-radius: 20px;
}

#shirt_img {
  border: 1px solid black;
  width: 35%;
  height: 90%;
  animation: translate 1s linear;
  border-radius: 20px;
}

@keyframes translate {
  from {
    transform: translateX(1000%);
    opacity: 0.1;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
/* media querry for upto 730px */
@media (max-width: 730px) {
  .right-content {
    flex-direction: column;
    align-items: center;
  }
  .left-content {
    width: 100%;
  }

  #shirt_img {
    border: 1px solid black;
    width: 80%;
    height: 85%;
  }

  #logo_img {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  #shirt {
    margin-bottom: 20px;
    width: 65%;
    height: auto;
  }
  #logoimg {
    width: 65%;
    height: 200px;
  }
  .main {
    width: 95%;
    padding: 0px;
    margin: auto;
    margin-top: 75px;
  }
}
